@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    height: 4rem;
}
.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}

section {
    padding: 20px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  
  .price {
    color: grey;
    font-size: 30px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #556463;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #218838;
}

img {
  height: 250px;   
}
form {
  margin: 50px 0px;
  background-color: #799b40;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px ;
}
form h1{
  text-align: center;
  color: #e9ebe6;
}
form input, form textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 15px;
}

button {
    background: #556463;
    color: #f3f1f5fb;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
}

contactform {
  margin: 50px 0px;
  background-color: #799b40;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px ;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/back.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.home .homeContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}
.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.home .homeContent .home-btn{
    height: 3rem;
}
.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}

.footer {
    background: url(image/backGround.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.footer .box-container .mainBox .content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}
.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;

}
.footer .share a:hover{
    background: var(--white);
    color: var(--black);
}
.footer .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-align: center;
    
}
.cart {
    text-align: center;
    width: 700px ;
    background-image:url('images/back.png');
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 450px;
    margin-top: 200px;
  }
  
  .cart h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .cart-total {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: #151615;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .checkout:hover {
    background-color: #e8f4f6;
  }
  
